*,
*::before,
a::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COUNTRIES */
.container {
  background-color: rgb(244, 9, 213);
}

.header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  padding: 10px;
}

.countryContainer {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fff;
  width: 100%;
}

.countriesContainer {
  display: grid;

  /* grid-template-columns: repeat(2,1fr); */
  margin: 2rem 1rem;

  /* width: 90%; */
  gap: 1.5rem;
}

.flag {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
}

.commonName,
.capitalName,
.population,
.link {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.link:hover {
  text-decoration: underline;
  color: red;
}

/* DETAILS */
.countryDetailsContainer {
  margin: 1rem auto;
  background-color: deeppink;
  width: 100%;
  overflow-x: auto;
  padding: 0 10px;
}

.tableHead {
  font-size: 1.2rem;
}

.countryDetailsTable {
  width: 100%;
}

.label {
  text-align: center;
  white-space: nowrap;
}

.value {
  border: 1px solid rgb(187, 149, 157);
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
  padding: 20px 0;
}

.tableBody tr:nth-child(odd) {
  background-color: rgb(240, 142, 227);
}

.tableBody tr:nth-child(even) {
  background-color: rgb(244, 9, 213);
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: cyan;
  color: #000;
}

th {
  white-space: nowrap;
}

h3 {
  font-size: 1rem;
}

h1 {
  font-size: 1.2rem;
}

img {
  cursor: pointer;
  margin: 0.5rem;
}

/* SEARCH */
.searchBoxContainer {
  height: 70vh;
  background-image: url(https://plus.unsplash.com/premium_photo-1663088923485-58685ba14d5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox {
  border-radius: 10px;
  padding: 1rem;
  outline: none;
  width: 40%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .countriesContainer {
    grid-gap: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto;
    width: 90%;
  }

  h3 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .header {
    font-size: 3rem;
  }

  .label {
    text-align: center;
    font-size: 1.5rem;
    padding: 25px 5px;
  }

  .countryDetailsContainer {
    margin: 1rem auto;
    background-color: deeppink;
    width: 100%;
    padding: 5px 90px;
  }

  .tableHead {
    font-size: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .countriesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .label {
    text-align: center;
    font-size: 1.5rem;
    padding: 40px 5px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .countriesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
